<header class="site-header">
  <div class="site-header__inner">
    <h1 class="site-header__title">Kelyddon Diemunsch</h1>
  </div>

  <nav class="site-nav">
  <a href="{{ path('app_home') }}">Accueil</a>
  {# <a href="{{ path('app_projects') }}">Projets</a>
  <a href="{{ path('app_about') }}">À propos</a> #}
  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_project_index') }}">Admin projets</a>
    <a href="{{ path('app_project_new') }}">Ajouter un projet</a>
    <a href="{{ path('app_logout') }}" class="logout-btn">Se déconnecter</a>
  {% endif %}
</nav>
</header>